flows 3.json
[{"id":"f09450d1.a7fab","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"50a37134.d7c41","type":"function","z":"f09450d1.a7fab","name":"Payload","func":"msg.headers=\n{\n    deviceKey:\"814TEt4R9Gf2GlMY\"\n};\nmsg.payload=\"Temperature,,20\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["11f01fd3.e4a8e"]]},{"id":"11f01fd3.e4a8e","type":"http request","z":"f09450d1.a7fab","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D02AQ710/datapoints.csv","tls":"","proxy":"","authType":"","x":560,"y":220,"wires":[["9ac46355.ba94","bc66780f.6531d8"]]},{"id":"9ac46355.ba94","type":"http response","z":"f09450d1.a7fab","name":"","statusCode":"","headers":{},"x":730,"y":200,"wires":[]},{"id":"bc66780f.6531d8","type":"debug","z":"f09450d1.a7fab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":280,"wires":[]},{"id":"2188587c.b407a8","type":"inject","z":"f09450d1.a7fab","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":220,"wires":[["50a37134.d7c41"]]}]