flows 1.json
[{"id":"a7ac78f4.b32fa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff3f354b.c73d08","type":"rpi-gpio in","z":"a7ac78f4.b32fa8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":140,"y":280,"wires":[["afe6cfaa.e549b","4ee8526e.f4d98c"]]},{"id":"afe6cfaa.e549b","type":"debug","z":"a7ac78f4.b32fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":180,"wires":[]},{"id":"4ee8526e.f4d98c","type":"switch","z":"a7ac78f4.b32fa8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":340,"wires":[["bdfe2680.3514e8"],["40df1064.5c851"]]},{"id":"bdfe2680.3514e8","type":"change","z":"a7ac78f4.b32fa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["b105c04e.54a47"]]},{"id":"40df1064.5c851","type":"change","z":"a7ac78f4.b32fa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["b105c04e.54a47"]]},{"id":"b105c04e.54a47","type":"rpi-gpio out","z":"a7ac78f4.b32fa8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":810,"y":340,"wires":[]}]