flows 2.json
[{"id":"b1b0be74.1092b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9ed3c780.99acf8","type":"function","z":"b1b0be74.1092b","name":"Payload","func":"msg.headers=\n{\n    deviceKey:\"814TEt4R9Gf2GlMY\"\n    \n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["408c1419.644ddc"]]},{"id":"408c1419.644ddc","type":"http request","z":"b1b0be74.1092b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D02AQ710/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":650,"y":100,"wires":[["5c12cc47.eed214","e08b4403.82e3b8"]]},{"id":"5c12cc47.eed214","type":"http response","z":"b1b0be74.1092b","name":"","statusCode":"","headers":{},"x":850,"y":40,"wires":[]},{"id":"e08b4403.82e3b8","type":"debug","z":"b1b0be74.1092b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":160,"wires":[]},{"id":"1f724a34.22d126","type":"inject","z":"b1b0be74.1092b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["9ed3c780.99acf8"]]}]